@model IEnumerable<Eva.Models.Movie>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>
<div >@Html.ActionLink("New Movie","New","Movies", null, new { @class = "btn btn-primary" })</div>
<table id="movies" class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Movies</th>
        <th>Genre</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var movie in Model)
    {
        <tr>
            <td>@Html.ActionLink(movie.Name,"Details","Movies", new {id = movie.Id},null)</td>
            <td>@movie.Genre.Name</td>
            <td>@Html.ActionLink("Edit","Edit","Movies", new {id = movie.Id}, null)</td>
            <td><button data-movie-id="@movie.Id"  class="btn btn-link js-delete">Delete</button></td>
        </tr>
    }
    </tbody>

</table>


@section scripts
{

    <script>
        $(document).ready(function () {

            var movieTalbes = $("#movies");


            movieTalbes.on("click",
                ".js-delete",
                function() {
                    var button = $(this);

                    bootbox.confirm("Are you want to delete this movie?",function(result) {
                        if (result) {
                            $.ajax({
                                url: "/api/movieapi/" + button.attr("data-movie-id"),
                                method: "DELETE",
                                success: function() {
                                    button.parent("tr").remove();
                                }
                            });
                        }
                    });


                });

        });
    </script>

}
